*{
    margin: 0;
    padding:0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;

}
.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}
.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}
.footer_column {
    display: flex;
    flex-direction: column;
}
.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.copyright {
    color: #94969f;
    text-align: end;
    padding: 20px;
}
body{
    font-family: Arial,sans-serif;
    margin:0;
    /* color:#f0f0f0; */
}
.p1{
  font-family:Poppins, sans-serif;
display: flex;
justify-content: center;
margin:30px;
color:navy;
font-size: 30px;
font-weight: bold;

}
.Menu{
    display: flex;
    justify-content: center;
    gap:30px;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin:30px;
}
.Menu a{
    text-decoration: none;
    color:#333333;
}
.Menu a:hover{
    height:23px;
border-bottom: 4px solid #f54e77;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin:30px;
}
.card{
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    /* width:300px; */
    overflow: hidden;
    border:2px solid navy;
}
a:hover{
    position: relative;
    z-index: 2;
}
.card img{
    width:500px;
    height: 250px;
    object-fit:cover;
}
.card p{
    padding:10px;
    margin:0px;
    font-weight: bold;
    color:navy;
    /* text-align: center; */
}
